.brif
  background-image: url('../img/brif/background-color-bg.jpg'), url('../img/brif/background-bg.jpg')
  background-position: left center, right center
  background-size: 50%, cover
  background-repeat: repeat-y, no-repeat
  &-block 
    display: flex
  &__interview
    flex-basis: 50%
  &__form
    flex-basis: 50%
    padding-left: 200px
    text-align: center
  &__input
    width: 100%
    max-width: 370px  
    margin-bottom: 15px
  &__button
    height: 70px
    width: 100%
    max-width: 370px  
    margin-bottom: 33px
    margin-top: 15px
.interview
  padding-right: 70px
  &__title
    width: 550px
    font-size: 22px
    line-height: 33px
    margin-top: 98px
    +bold
    margin-bottom: 45px
  &__subtitle
     font-size: 16px
     display: block
     margin-bottom: 93px
  &-list 
    list-style: none
    padding: 0
    &__item
      display: flex
      align-items: center
      margin-bottom: 29px
      +bold
    &__counter
      display: inline-block
      text-align: center
      line-height: 33px
      height: 35px
      width: 35px
      border: 2px solid $text-color
      border-radius: 50%
      margin-right: 35px
      font-size: 14px
    &__text
      max-width: 400px
      line-height: 1.5
.form
  &__title 
    font-size: 22px
    line-height: 33px
    margin-top: 95px
    margin-bottom: 45px
    +bold
  &__subtitle
    font-size: 16px
    display: block
    margin-bottom: 55px
  &__description
    display: block
    margin-bottom: 93px
@media (max-width:1140px)
  .brif
    &__form
      padding-left: 30px
    &__button
      margin-top: 0
      margin-bottom: 15px
  .interview
    padding-right: 30px
    &__title
      width: auto
      font-size: 20px
      margin-bottom: 15px
    &__subtitle
      margin-bottom: 30px
    &-list
      &__text
        font-size: 14px
        max-width: 290px  
      &__counter
        margin-right: 20px
  .form
    &__title
      font-size: 20px
      margin-bottom: 47px
    &__subtitle
      margin-bottom: 30px
    &__description
      display: block
@media (max-width:960px)
  .interview
    &__title
      margin-top: 50px
  .form
    &__title
      margin-top: 50px
    &__description
      margin-bottom: 50px

@media (max-width:720px)
  .brif
    background-image: url('../img/brif/background-color-bg.jpg'), url('../img/brif/background-bg.jpg')
    background-position: top center, bottom center
    background-size: 100% 50%, cover
    background-repeat: repeat-x, no-repeat
    &__interview
      margin: auto
      padding-top: 50px
      padding-right: 0px
    &-block
      flex-direction: column
    &__form 
      padding-left: 5px
      margin-top: 80px
    &__button
      font-size: 14px
      margin-bottom: 27px
    &__input
      margin-bottom: 9px
  .interview
    &__title
      font-size: 18px
      margin-bottom: 12px
      margin-top: 0
      line-height: 22.35px
      width: 250px
    &__subtitle
      margin-bottom: 39px
      margin-left: 3px
      font-size: 14px
      width: 180px
    &-list
      &__counter
        min-width: 35px
        min-height: 35px 
        margin-right: 10px
      &__text
        min-width: 235px
        line-height: 18px
      &__item
        margin-bottom: 22px
        &:last-child
          margin-bottom: 0
  .form
    &__title
      margin: auto
      width: 290px
      margin-top: 0
      font-size: 18px
      padding-top: 43px
      margin-bottom: 23px
      line-height: 25.35px
    &__subtitle
      font-size: 14px
      margin-bottom: 34px
    &__description
      font-size: 14px
      margin-bottom: 34px
      width: 140px
      margin: auto
      line-height: 1.5
      margin-bottom: 34px
@media (max-width:720px)
  .brif
    &__interview








