.footer
  position: relative
.map
  position: absolute
  left: 0
  top: 0
  width: 50%
.contacts
  flex-basis: 50%
  padding-top: 65px
  padding-left: 215px
  &__title
    +bold
    font-size: 22px
    line-height: 1.5
    margin-bottom: 90px
  &-block 
    display: flex
    justify-content: flex-end
  &-list 
    padding: 0
    list-style: none
    &__icon
      width: 20px
      height: 20px
      text-align: center
      line-height: 20px
      margin-right: 23px
    &__item
      display: flex
      align-items: flex-start
      margin-bottom: 35px
    &__bold-text
      +bold
    &__text
      line-height: 26px
    &__phone
      text-decoration: none
      color: $text-color
@media (max-width:1140px)
  .contacts
    padding-left: 100px
@media (max-width:960px)
  .contacts
    padding-top: 50px
    padding-left: 80px
    &__title
      margin-bottom: 60px
      font-size: 18px
@media (max-width:720px)
  .contacts
    flex-basis: 100%
    padding-top: 70px
    padding-left: 110px
    flex: center
    &__title
      min-width: 490px
      margin-bottom: 28px 
      font-size: 18px
      line-height: 23px
    &-list
      &__icon
        margin-right: 12px
      &__item
        margin-bottom: 30px
        margin-left: 20px
  .map
    position: absolute 
    width: 100%
    top: 530px
@media (max-width:567px)
  .contacts
    width: 350px
    flex-basis: 100%
    padding-top: 45px
    padding-left: 50px
    &__title
      min-width: 350px
      padding-left: 23px
    &-list
      &__item
        margin-left: 20px
      

      
      
  


  