.portfolio
  background: $hero-color url('../img/portfolio/portfolio-pattern.jpg') repeat-y center left 
  background-size: 50%
  &__title
    margin-bottom: 95px
    font-size: 30px
    line-height: 45px
    +bold
  &__arrows
    max-width: 120px 
    margin: auto
    display: flex
    justify-content: space-between
    margin-top: 68px
  &-section 
    padding: 80px
.slider
  &__image
    margin: auto
@media (max-width:960px)
  .section
    padding-top: 43px
  .portfolio
    &__title
      margin-bottom: 40px
    &__arrows
      margin-top: 48px
@media (max-width:720px)
  .container
    // width: 280px
  .portfolio
    &__title
      font-size: 18px
      line-height: 1.2
      // width: 290px
    &-section
      padding: 0
      padding-top: 43px
    &__arrows
      padding-bottom: 64px
    


    