@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Museo Sans Light' , sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1170px;
  width: 95%;
  margin: auto;
}

@media (max-width: 1140px) {
  .container {
    max-width: 880px;
    width: 90%;
  }
}

@media (max-width: 720px) {
  .container {
    max-width: 680px;
    width: 90%;
  }
}

.button {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.button:hover {
  background-color: #ffdb33;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button:focus {
  outline: none;
}

.section-title {
  text-align: center;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.section-subtitle {
  display: block;
}

.input {
  border: 1px solid #dddddd;
  padding: 23px 26px;
  font-size: 15px;
  border-radius: 10px;
  color: #999999;
  position: relative;
}

.input:focus {
  border: 1px solid #ffd200;
  outline: none;
}

.arrows__left:hover, .arrows__right:hover {
  cursor: pointer;
}

.error {
  color: #333333;
}

.navbar {
  padding: 8px 0px;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__address {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: columns;
          flex-direction: columns;
  font-size: 13px;
  text-align: right;
}

.navbar__button {
  margin-left: 30px;
  font-size: 13px;
}

.navbar__phone {
  display: inline-block;
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin-top: 10px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 720px) {
  .navbar__contacts {
    display: none;
  }
  .navbar__button {
    font-size: 12px;
    padding: 12px 25px;
  }
  .navbar__logo {
    width: 90px;
  }
}

.hero {
  color: #333333;
  background-color: #f5f5f5;
  padding: 50px 0;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.hero-text__title {
  margin-bottom: 40px;
  font-size: 41px;
  line-height: 55px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-text__subtitle {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 65px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.hero-list {
  margin: 0;
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 40px;
  height: 40px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 27px;
}

.hero-list__text {
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 1140px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 40px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 720px) {
  .hero-text__title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-list-item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    font-size: 12px;
    max-width: 250px;
  }
  .hero-list__image {
    min-width: 40px;
    margin-right: 15px;
  }
}

.offer {
  padding: 75px 0;
  background: url("../img/offer/offer-bg.png") no-repeat;
  background-position: right;
  background-size: contain;
  position: relative;
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #ffffff;
}

.offer-block {
  position: relative;
  width: 50%;
  padding-right: 90px;
}

.offer__title {
  margin-top: 0;
  font-size: 24px;
  max-width: 350px;
  line-height: 35px;
  margin-bottom: 20px;
  text-align: left;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.offer__subtitle {
  display: block;
  font-size: 16px;
  font-weight: 400;
  max-width: 235px;
  margin-bottom: 30px;
}

.offer__input {
  width: 240px;
  margin-bottom: 30px;
}

.offer__input:first-child {
  margin-right: 10px;
}

.offer__button {
  width: 100%;
  min-width: 70px;
  margin-bottom: 29px;
  padding: 25px;
}

.offer__bottom-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 24px;
  font-size: 15px;
}

.offer__left-text {
  width: 230px;
}

.offer__right-text {
  display: block;
}

.offer__phone {
  text-decoration: none;
  color: #333333;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

#offerUsername-error {
  position: absolute;
  bottom: 148px;
  left: 0;
  font-size: 15px;
}

#offerPhone-error {
  position: absolute;
  bottom: 148px;
  left: 254px;
  font-size: 15px;
}

@media (max-width: 1140px) {
  .offer {
    background-size: cover;
  }
  .offer__input {
    width: 100%;
    margin-bottom: 8px;
    padding-right: 40px;
  }
}

@media (max-width: 960px) {
  .offer__bottom-title {
    display: block;
  }
  .offer__left-text {
    display: block;
    margin-bottom: 18px;
    margin-right: 10px;
  }
}

@media (max-width: 720px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .offer__title {
    line-height: 1.2;
    font-size: 18px;
  }
  .offer__button {
    font-size: 14px;
  }
  #offerUsername-error {
    all: unset;
  }
  #offerPhone-error {
    all: unset;
  }
}

.portfolio {
  background: #f5f5f5 url("../img/portfolio/portfolio-pattern.jpg") repeat-y center left;
  background-size: 50%;
}

.portfolio__title {
  margin-bottom: 95px;
  font-size: 30px;
  line-height: 45px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.portfolio__arrows {
  max-width: 120px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 68px;
}

.portfolio-section {
  padding: 80px;
}

.slider__image {
  margin: auto;
}

@media (max-width: 960px) {
  .section {
    padding-top: 43px;
  }
  .portfolio__title {
    margin-bottom: 40px;
  }
  .portfolio__arrows {
    margin-top: 48px;
  }
}

@media (max-width: 720px) {
  .portfolio__title {
    font-size: 18px;
    line-height: 1.2;
  }
  .portfolio-section {
    padding: 0;
    padding-top: 43px;
  }
  .portfolio__arrows {
    padding-bottom: 64px;
  }
}

.price-section {
  padding-top: 100px;
  padding-bottom: 90px;
}

.price__title {
  margin: auto;
  width: 550px;
  margin-bottom: 40px;
  line-height: 45px;
  font-size: 30px;
}

.price__subtitle {
  margin-bottom: 50px;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.price__card {
  margin-bottom: 30px;
}

.card {
  text-align: center;
  border: 1px solid #e8e8e8;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.card:hover .card__image:before {
  opacity: 1;
}

.card__text {
  padding-top: 35px;
  padding-bottom: 25px;
}

.card__title {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 35px;
}

.card__image {
  position: relative;
}

.card__image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ffd200), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card__img {
  display: block;
}

.card__link {
  display: inline-block;
  margin-bottom: 10px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.card__link:hover:after {
  height: 12px;
}

.card__link:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: -4px;
  left: 0;
  display: block;
  width: 100px;
  height: 3px;
  background-color: #ffd200;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1190px) {
  .cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .price__card {
    margin-right: 10px;
  }
}

@media (max-width: 860px) {
  .price__title {
    margin: auto;
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 1.2;
  }
  .price__subtitle {
    margin-bottom: 61px;
  }
}

@media (max-width: 720px) {
  .price-section {
    margin: auto;
    padding: 0;
    padding-top: 43px;
  }
  .price__title {
    margin: auto;
    width: 270px;
    font-size: 19px;
    line-height: 1.2;
  }
  .price__subtitle {
    font-size: 14px;
    margin-bottom: 35px;
  }
  .card__title {
    font-size: 14px;
    margin-bottom: 16px;
  }
}

.step {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  text-align: center;
  position: relative;
}

.step:after {
  content: '';
  position: absolute;
  width: 72px;
  height: 25px;
  background: url("../img/steps/arrow.png");
  top: 49px;
  right: -15%;
}

.step:last-child:after {
  display: none;
}

.step__image {
  width: 100px;
  height: 100px;
  border: 3px solid #ffd200;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 50%;
  margin-top: 59px;
  margin-bottom: 30px;
}

.step__text {
  margin: auto;
  max-width: 155px;
  font-size: 14px;
  line-height: 20px;
}

.steps__title {
  width: 670px;
  margin: auto;
  margin-top: 40px;
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 50px;
}

.steps__subtitle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.steps-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 97px;
}

@media (max-width: 720px) {
  .step {
    margin-bottom: 30px;
  }
  .step:after {
    display: none;
  }
  .steps {
    text-align: center;
  }
  .steps-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .steps__title {
    margin: auto;
    font-size: 18px;
    line-height: 1.2;
    width: 280px;
    margin-bottom: 27px;
  }
  .steps__subtitle {
    font-size: 14px;
  }
}

@media (max-width: 1140px) {
  .step {
    margin-bottom: 30px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .step:after {
    display: none;
  }
  .steps-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.text {
  background-color: #ffc000;
}

.text-block {
  padding: 85px;
  text-align: center;
}

.text__paragraf {
  font-size: 32px;
  line-height: 50px;
  margin: auto;
}

@media (max-width: 960px) {
  .text-block {
    padding: 75px 10px;
  }
  .text__paragraf {
    font-size: 25px;
    line-height: 32px;
  }
}

@media (max-width: 960px) {
  .text__paragraf {
    width: 255px;
    font-size: 18px;
    line-height: 1.2;
  }
}

.description-block {
  padding-top: 105px;
  padding-bottom: 228px;
  text-align: center;
}

.description__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  margin-bottom: 130px;
}

.description__images {
  width: 370px;
  height: 410px;
}

.description__title {
  font-size: 30px;
  line-height: 45px;
  margin: auto;
  width: 650px;
  margin-bottom: 99px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.description-document {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.description__text {
  font-size: 18px;
  line-height: 24px;
}

.images__img {
  margin-bottom: 30px;
}

@media (max-width: 1180px) {
  .description__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .description__images {
    margin: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 960px) {
  .description-block {
    padding-bottom: 90px;
  }
  .description__title {
    width: 700px;
  }
  .description-document {
    display: block;
  }
  .description__text {
    font-size: 14px;
    line-height: 1.4;
  }
  .document-block {
    margin-bottom: 44px;
  }
  .images__img {
    margin-bottom: 31px;
  }
}

@media (max-width: 720px) {
  .description__title {
    width: 275px;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 49px;
  }
}

.brif {
  background-image: url("../img/brif/background-color-bg.jpg"), url("../img/brif/background-bg.jpg");
  background-position: left center, right center;
  background-size: 50%, cover;
  background-repeat: repeat-y, no-repeat;
}

.brif-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brif__interview {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.brif__form {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 200px;
  text-align: center;
}

.brif__input {
  width: 100%;
  max-width: 370px;
  margin-bottom: 15px;
}

.brif__button {
  height: 70px;
  width: 100%;
  max-width: 370px;
  margin-bottom: 33px;
  margin-top: 15px;
}

.interview {
  padding-right: 70px;
}

.interview__title {
  width: 550px;
  font-size: 22px;
  line-height: 33px;
  margin-top: 98px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  margin-bottom: 45px;
}

.interview__subtitle {
  font-size: 16px;
  display: block;
  margin-bottom: 93px;
}

.interview-list {
  list-style: none;
  padding: 0;
}

.interview-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.interview-list__counter {
  display: inline-block;
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  border: 2px solid #333333;
  border-radius: 50%;
  margin-right: 35px;
  font-size: 14px;
}

.interview-list__text {
  max-width: 400px;
  line-height: 1.5;
}

.form__title {
  font-size: 22px;
  line-height: 33px;
  margin-top: 95px;
  margin-bottom: 45px;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.form__subtitle {
  font-size: 16px;
  display: block;
  margin-bottom: 55px;
}

.form__description {
  display: block;
  margin-bottom: 93px;
}

@media (max-width: 1140px) {
  .brif__form {
    padding-left: 30px;
  }
  .brif__button {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .interview {
    padding-right: 30px;
  }
  .interview__title {
    width: auto;
    font-size: 20px;
    margin-bottom: 15px;
  }
  .interview__subtitle {
    margin-bottom: 30px;
  }
  .interview-list__text {
    font-size: 14px;
    max-width: 290px;
  }
  .interview-list__counter {
    margin-right: 20px;
  }
  .form__title {
    font-size: 20px;
    margin-bottom: 47px;
  }
  .form__subtitle {
    margin-bottom: 30px;
  }
  .form__description {
    display: block;
  }
}

@media (max-width: 720px) {
  .brif {
    background-image: url("../img/brif/background-color-bg.jpg"), url("../img/brif/background-bg.jpg");
    background-position: top center, bottom center;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat;
  }
  .brif__interview {
    padding-right: 15px;
  }
  .brif-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .brif__form {
    margin-top: 80px;
    padding-left: 5px;
  }
  .brif__button {
    font-size: 14px;
    margin-bottom: 31px;
  }
  .interview__title {
    font-size: 18px;
    margin-bottom: 16px;
    margin-top: 0;
    line-height: 25.35px;
    width: 250px;
  }
  .interview__subtitle {
    margin-bottom: 39px;
    font-size: 14px;
    width: 180px;
  }
  .interview-list__counter {
    min-width: 35px;
    min-height: 35px;
  }
  .interview-list__text {
    min-width: 235px;
  }
  .form__title {
    margin: auto;
    width: 290px;
    margin-top: 0;
    font-size: 18px;
    padding-top: 43px;
    margin-bottom: 27px;
    line-height: 25.35px;
  }
  .form__subtitle {
    font-size: 14px;
    margin-bottom: 34px;
  }
  .form__description {
    font-size: 14px;
    margin-bottom: 34px;
    width: 140px;
    margin: auto;
    line-height: 1.5;
    margin-bottom: 34px;
  }
}

.footer {
  position: relative;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
}

.contacts {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-top: 65px;
  padding-left: 215px;
}

.contacts__title {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 90px;
}

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts-list {
  padding: 0;
  list-style: none;
}

.contacts-list__icon {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  margin-right: 23px;
}

.contacts-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 35px;
}

.contacts-list__bold-text {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.contacts-list__text {
  line-height: 26px;
}

.contacts-list__phone {
  text-decoration: none;
  color: #333333;
}

@media (max-width: 1140px) {
  .contacts {
    padding-left: 100px;
  }
}

@media (max-width: 960px) {
  .contacts {
    padding-top: 50px;
  }
  .contacts__title {
    margin-bottom: 60px;
  }
}

@media (max-width: 720px) {
  .contacts {
    position: absolute;
    padding-left: 24px;
    top: 0;
    left: 0;
  }
  .contacts__title {
    width: 350px;
    margin-bottom: 39px;
  }
  .map {
    position: absolute;
    width: 100%;
    top: 530px;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #ffffff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal-dialog__close:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */